.footer-login{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  left: 0;
  text-align: center;
  background: #b71d1d;
}

.posicion-f{
  position: relative;
}

.color-f{
  color:#fff;
  font-size: 16px;
}

.ver{
  visibility:hidden;
  }

.boton1 {
  color: #fff !important; 
  }
  
.boton1:hover {
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
  transition: all 0.2s ease;
  }


/*Codigo para botones de riesgo e icono*/
.redondeo-izq{
    border-top-left-radius: 50px !important;
    border-bottom-left-radius: 50px !important; 
  }

.boton4 {
  color: #fff !important; 
  }
  
.boton4:hover {
  color: rgba(255, 255, 255, 1) !important;
  width: 50%; 
  box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
  transition: all 0.2s ease;
  }

.redondeo-der{
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
  	}

.iconos{
    font-size:30px !important; 
    /*color: #20847a;*/
  	}

.icono-plus{
  font-size:18px !important;
}
                 
/*codigo para la matriz*/
.tam{
	border: 1px #000 solid;
	width: 150px;
	height: 100px;	
	}

.caja_interna{
	border: 1px #000 solid;
	width: 10px;
	height: 30px;	
	}


.izquierda{
	border-left: 0px	
	}

.arriba{
	border-top: 0px
}

.arrizq{
	border-top: 0px; 
	border-left: 0px;
}



.palabra{	
/*	width: 150px;
	height: 50px;*/
	/*margin-top: 40px;*/
	}

.quit{
	border-right:0px;
	border-top:0px;
	border-left:0px;
	border-bottom:0px;
}

.texto-vertical-2 {
    transform: rotate(270deg) !important;   
    margin-left: -50px;
    margin-top: -80px;
    font-weight: bold;
}

/*div{
	width: 150px;
	height: 100px;
	background: pink;
	color:#fff;
	font-size:30px;


}

.caja_padre{
	width: 750px;
	height: 500px;
	background: #000;
	position:relative;	
	margin-right: 50%;
	margin-left: 25%;
	margin-top: 10%;
	

}

.caja{
	float:left;
	
	
}
}*/
.verde{
	background: #007E33;
}

.naranja{
	background: #ffa000;
}

.amarillo{
	background: #ffeb3b;
}

.rojo{
	background: #c62828;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
  .footer{
  align-self: flex-end !important;
  text-align: center !important;
  width: 100% !important;
  background-color: #0b3788 !important;
  color: white !important;
  /*position: absolute;*/
}

/*.fondo {
    margin: 0;
    padding: 0;    
    min-height: 100vh;
    flex-wrap: wrap;
    display: grid;

}
*/
 .cuadro{
    border: 2px solid #b71c1c ;
    border-radius:30px;
    width: 400px !important;
    margin-top: 40px;
    margin-left: 100px !important;
    box-shadow: 4px 4px 7px #999;
  }

.d-control{
  font-size: 14px !important; 
  border-radius: 30px !important;
  box-shadow: 4px 4px 7px #999 !important;
  text-transform: capitalize !important;
}

.bord-rad{
  border-radius: 30px !important;
  margin-left: 20px !important;
}

.icon-bas{
  font-size: 20px !important;
}

.color-fondo{
  background-color: #e1e2e4 !important;
}

.oculto-text{
  visibility: hidden;
}

.hr{
  border: 2px solid #0000001a;
}