 .inherente{
  border: 2px #424242 solid;
  border-radius: 20px;
  width: 20px;
  height: 20px;  
  background-color: #b0bec5;
  margin-top: 4px; 
  float: left;
  }

  .inherente_pe{
  border: 2px #424242 solid;
  border-radius: 30px;
  width: 20px;
  height: 20px;  
  background-color: #b0bec5;
  margin-top: 4px;
  font-size: 13px;  
  text-align: center;
  font-weight: bold;  
  }   

  .controlado{
  border: 2px #82b1ff solid;
  border-radius: 30px;
  width: 20px;
  height: 20px;  
  background-color: #0d47a1;
  margin-top: 4px;
  float: left;  
  }
  
  .controlado_pe{
  border: 2px #82b1ff solid;
  border-radius: 30px;
  width: 20px;
  height: 20px;  
  background-color: #0d47a1;
  margin-top: 4px;
  font-size: 13px;  
  text-align: center;
  color: white;
  font-weight: bold;
  }

  .tratado{
  border: 2px #e65100 solid;
  border-radius: 20px;
  width: 20px;
  height: 20px;  
  background-color: #ff8a80;
  margin-top: 4px;
  float: left;  
  }

  .tratado_pe{
  border: 2px #e65100 solid;
  border-radius: 30px;
  width: 20px;
  height: 20px;  
  background-color: #ff8a80;
  margin-top: 4px;
  font-size: 13px;  
  text-align: center;
  font-weight: bold;
  }

  .verde-g{
  border: 1px #000 solid;
  width: 20px;
  height: 20px;  
  background-color: #007E33;
  float: left; 
  }

  .amarillo-g{
  border: 1px #000 solid;
  width: 20px;
  height: 20px;  
  background-color: #ffeb3be6;
  float: left; 
  }

  .naranja-g{
  border: 1px #000 solid;
  width: 20px;
  height: 20px;  
  background-color: #ffa000;
  float: left; 
  }

  .rojo-g{
  border: 1px #000 solid;
  width: 20px;
  height: 20px;  
  background-color: #c62828;
  float: left; 
  }

  .ml-n{
    margin-left: -50px !important;
  }

  .ml-p{
    margin-left: 50px;
  }
