.barra{
	color: #fff ;
	background: #ff4f5e;
		border-color: #86898cdb; 
	
}

.borde{
	border-color: #86898cdb; 
}

.letra{

    color: #101010;
 disabled:true;
}



	.disabledTab{ disabled;
	border-color: #86898cdb; 
	background-color: #000; }